var $unit = $('#unit_' + <%= params[:unit_id] %>);


<% if @uu.save %>
    <%  unit = Unit.find( params[:unit_id] )%>

    $unit.find('.user-queue > ul').append("<%= escape_javascript(render(:partial => 'unitusers/unit_user', locals: { unituser: @uu, user:@user, unit:unit })) %>");

    alert('total unit duration is <%= unit.duration %>');
    $unit.find('.remaining').find('.time-remaining').html(<%=unit.duration / 60%>+"<span class='smaller relative raised'>hrs</span> " + <%= unit.duration % 60 %> + "<span class='smaller relative raised'>min</span>");

    $('#blur-layer').removeClass('blur-in');
    $('#blur-layer').addClass('blur-out');

    // remove the tinted overlay
    $('#overlay').fadeOut();

    $('.unit_user_form').fadeOut();
<% else %>
   alert('error' <%= @uu.errors.full_messages %>);
<% end %>