<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 well signup arame-bold">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= devise_error_messages! %>

      <div class="form-inputs" >
        <%= f.input :name,                  required: true, autofocus: true, label: false, placeholder: 'name',                                         :input_html => { :class => 'quicksand-reg', :style => 'width: 330px' } %>
        <%= f.input :email,                 required: true,                  label: false, placeholder: 'email',                                        :input_html => { :class => 'quicksand-reg', :style => 'width: 330px' } %>
        <%= f.input :email2,                required: true,                  label: false, placeholder: 'email (optional)',                             :input_html => { :class => 'quicksand-reg', :style => 'width: 330px' } %>
        <%= f.input :phone,                 required: true,                  label: false, placeholder: 'phone for receiving text messages',            :input_html => { :class => 'quicksand-reg', :style => 'width: 330px', :id => 'phone' } %>
        <%= f.input :phone2,                required: true,                  label: false, placeholder: 'phone for receiving text messages (optional)', :input_html => { :class => 'quicksand-reg', :style => 'width: 330px', :id => 'phone2' } %>
        <%= f.input :password,              required: true,                  label: false, placeholder: 'password',                                     :input_html => { :class => 'quicksand-reg', :style => 'width: 330px' }, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%= f.input :password_confirmation, required: true,                  label: false, placeholder: 'password confirmation',                        :input_html => { :class => 'quicksand-reg', :style => 'width: 330px' } %>
        <%= f.hidden_field :contact_flags, :value => '11000000' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<script>

    $("#phone").intlTelInput();
    $("#phone2").intlTelInput();
</script>
