
<div class="row">
  <div id="user-edit" class="col-sm-4 col-sm-offset-4 col-xs-12 bordered glow ">
    <h1 class="ocra ">User Information</h1>
    <%= simple_form_for @user, defaults: { input_html: { class: 'ocra', color: 'white' } } do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, label: 'Screen Name', wrapper_html: { class: 'ocra' } %>
        <%= f.input :email, label: 'Email' %>
        <%= f.input :email2, label: 'Email - Alternate' %>
        <%= f.input :phone, label: 'Phone', input_html: { id: 'phone' } %>
        <%= f.input :phone2, label: 'Phone - Alternate', input_html: { id: 'phone2' } %>
        <!--<input type="tel" id="phone">-->
        <!--<input type="tel" id="phone2">-->
        <%= f.error :base %>
        <%= f.button :submit %>
    <% end %>


  </div>

</div>



<script>
  $(document).ready(function() {
      $('#overlay').hide();
      $("#phone").intlTelInput();
      $("#phone2").intlTelInput();
  });
</script>

