<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 well signin gruppo">
    <h1 class="txt-centered white-glow">Forgot your password?</h1>
    <div class="spacer"></div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'email', :input_html => {:class => 'quicksand-reg'} %>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class:'white-glow' %>
        </div>
    <% end %>

    <div class="devise-shared-links"><%= render "devise/shared/links" %></div>

  </div>
</div>