<p>Create UnitUsers Form</p>
<%= minimal_form_for([unit, @unit_user], html: {class: 'form-vertical'}) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, :input_html => {:value => User.last.name} %>
    <%= f.input :phone, :input_html => {:value => @user.phone} %>
    <%= f.input :phone2, :input_html => {:value => @user.phone2} %>
    <%= f.input :sms, :input_html => {:value => @user.sms} %>
    <%= f.input :email, :input_html => {:value => @user.email} %>
    <%= f.input :email2, :input_html => {:value => @user.email2} %>
    <%= f.input :duration_hrs %>
    <%= f.input :duration_min %>
    <%= f.input :note %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.error :base %>
    <%= f.button :submit %>
<% end %>