<!--fed by unit.html.erb-->
<!--<p>unit.id in _unit_user is <%#= unit.id %></p>-->
<!--TODO - fix best_in_place input field width, and make tabbing between inputs work correctly-->

<%= content_tag_for :li, unituser do %>

    <div class="container unit-user">

      <div class="row">
        <div class="col-xs-12 microgramma-bold larger name"><%= user.id %> <%= user.name.truncate(12) %> <%= unituser.id %> </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="row">
        <div class="col-xs-3"><%= image_tag(current_user.avatar.profile.url, :class => 'img-rounded uu-avatar') if current_user.avatar? %></div>
        <div class="col-xs-9">
          <div class="container">
            <div class="row">
              <div class="col-xs-10 quicksand-reg email white-glow smaller"><%= user.email.truncate(20) %></div>
            </div>
            <div class="row">
              <div class="col-xs-10 quicksand-reg email2 white-glow smaller"><%= user.email2.truncate(20) %></div>
            </div>
            <div class="row">
              <div class="col-xs-10 quicksand-reg phone white-glow smaller"><%= formatted_phone(user.phone) %></div>
            </div>
            <div class="row">
              <div class="col-xs-10 quicksand-reg phone2 white-glow smaller"><%= formatted_phone(user.phone2) %></div>
            </div>
          </div>
        </div>
      </div>

      <div class="spacer"></div>

        <div class="row">
          <div class="col-xs-3 microgramma white-glow lowered spaced" >BEG</div>
          <div class="col-xs-9 quicksand-reg white-glow txt-centered" id="start_time_<%= unituser.id %>"><%= unituser.start_time.in_time_zone(user.timezone).strftime('%b %e, %l:%M %p') if unituser.start_time %></div>
        </div>

        <div class="row">
          <div class="col-xs-3 microgramma white-glow lowered spaced" id="duration_<%= unituser.id %>">DUR</div>
          <div class="col-xs-9 quicksand-reg bip-duration-field white-glow txt-centered">
            <!-- #hrs_min is a method in the unit_user class - returns a formatted duration string -->
            <%= best_in_place [unit, unituser], :duration, :inner_class => "duration-input" , :as => :input, :data => { :unit_duration => unit.duration }, :display_as => :duration_hrs_min %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3 microgramma white-glow lowered spaced">END</div>
          <div class="col-xs-9 quicksand-reg white-glow txt-centered" id="end_time_<%= unituser.id %>"><%= unituser.end_time.in_time_zone(user.timezone).strftime('%b %e, %l:%M %p') if unituser.end_time %></div>
        </div>

        <div>
          <div class="note quicksand-reg white-glow">
            <%= best_in_place [unit, unituser], :note, :as => :textarea, :place_holder => 'note' %>
          </div>
        </div>

        <div>
          <%= link_to "X", [unit,unituser], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </div>

    </div>

<% end %>

<script>

    $('.best_in_place').bind("ajax:success", function (event, data, status, xhr) {
        var uuid = this.id.match(/\d+/)[0];
        var $unit_user_clicked = $('#unit_user_' + uuid);
        var unit_to_update = $unit_user_clicked.closest($('.unit'));

        var unit_users = JSON.parse(data)['unit_user_queue'];

        $('#end_time_' + uuid).html(JSON.parse(data)['unit_user_end']);

        // update the unit's total duration field
        unit_to_update.find($('.time-remaining')).html(JSON.parse(data)['unit_duration']);

        //    refresh all unitusers start and end times
        for(var i=0; i<unit_users.length; i++) {
            //console.log(i);
            console.log(unit_users[i]['id']);
            console.log(unit_users[i]['start_time']);
            console.log(unit_users[i]['duration']);
            console.log(unit_users[i]['end_time']);
            $('#start_time_' + unit_users[i]["id"] ).html(unit_users[i]["start_time"]);
            $('#end_time_' + unit_users[i]["id"] ).html(unit_users[i]["end_time"]);
            unit_to_update.find($('.est-time-of-completion')).html(unit_users[i]["end_time"]);
            $('#best_in_place_unit_user_' + unit_users[i]["id"] + '_duration').html(unit_users[i]["duration"]);
        }

    });

</script>