 <!--from units/index.html.erb-->

 <%= div_for unit do %>
    <div class="container unit-body">
        <div class="row unit-header">

          <!-- Delete Button (Trash Can) -->

            <div class="col-xs-2">
              <%= link_to '', unit, remote: true, class: 'fa fa-trash-o', method: :delete %>
            </div>

            <div class="col-xs-8 unit-name                                                                           microgramma-bold txt-centered larger spaced3-6"><%= unit.screen_name %></div>

          <!-- Lock Position Button -->

            <div class="col-xs-2">
              <i id="lock-pos-<%= unit.id %>" class="fa fa-lock"></i>
            </div>

        </div>

        <div class="spacer"></div>
        <div class="row border-bottom" id="image-<%= unit.id %>">
          <div class="disable-msg-panel col-xs-12 red-glow-no-bg txt-centered" id="disable-msg-panel-<%= unit.id %>">
            <div class="pfmech"><i class="fa fa-angle-double-left"></i> DISABLED BY <i class="fa fa-angle-double-right"></i></div>
            <div class="pfmech9" id="disable-msg-<%= unit.id %>">Madeline - Nov 22 25:35 AM</div>
          </div>
            <div class="col-xs-12 pic-background-"><%= image_tag(unit.unit_pic.fullsize.url, :class => 'img-rounded unit-image') if unit.unit_pic? %></div>
        </div>
        <div id="unit-notes-<%= unit.id %>" class="row border-bottom">
          <div class="col-xs-12 blue-glow quicksand-reg">
            <%= best_in_place unit, :notes, :as => :textarea, :place_holder => '>' %>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div id="time-remaining-<%= unit.id %>" class="col-xs-7 pfmech                    gold-glow spaced time-remaining"><div><span>stand by</span></div> </div>
            <div id="unit-remaining-<%= unit.id %>" class="col-xs-5 quicksand-reg txt-right  white-glow spaced tiny remaining-label">remaining</div>
        </div>
        <div class="row border-bottom spacer spacer-<%= unit.id %>"></div>
        <div id="unit-time-avail-<%= unit.id %>" class="row border-bottom">
            <div id="unit-time-complete-<%= unit.id %>" class="col-xs-7 quicksand-reg white-glow est-time-of-completion">
              <% if unit.duration > 0 %>
                <%= unit.time_available.in_time_zone(current_user.timezone).strftime('%b %e, %l:%M %p') if unit.time_available %>
              <% else %>
                Unit Available
              <% end %>
            </div>
            <div id="unit-time-complete-label-<%= unit.id %>" class="col-xs-5 quicksand-reg txt-right    white-glow spaced tiny est-time-of-completion-label">est time of completion</div>
        </div>
      <div class="spacer spacer-<%= unit.id %> border-bottom no-sides"></div>
      <div id="unit-bottom-<%= unit.id %>" class="row unit-bottom border-gray">
        <div class="col-xs-1 col-xs-offset-1 refresh">
           <!--<div id="refresh-unit-<%#= unit.id %>"       class="refresh"><span class="fa fa-refresh white-glow-dim"></span></div>-->
        </div>
        <div id="new-uu-button-<%= unit.id %>" class="col-xs-8 new-uu-button">
            <div id="new-user-for-unit-<%= unit.id %>" class="white-glow-dim microgramma spaced txt-centered border-gray">add to queue</div>
        </div>
        <div class="col-xs-2 disable">
            <div id="toggle-unit-<%= unit.id %>"><span class="fa fa-toggle-on white-glow-dim"></span></div>
        </div>
      </div>
    </div> <!-- end unit-body -->

     <!--unit user queue-->

    <section class="user-queue"><!--user queue-->
        <ul id="unit-user-ul-<%= unit.id %>">
            <% unit.unit_users.each do |unituser| %>
                <%= render :partial => '/unitusers/unit_user', :locals => { user:unituser.user, unit:unit, unituser: unituser }%>
            <% end %>
        </ul>
    </section> <!-- end user queue -->


     <!-- unit user form-->

    <div id="unit_user_form_<%= unit.id %>" class="container unit_user_form microgramma-bold">
        <%= minimal_form_for([unit, @unit_user], :remote => true, html: {class: 'form-vertical'}) do |f| %>
            <%= f.error_notification %>
            <div class="row">
                <div class="col-xs-12 larger2 white-glow-dim spaced txt-centered">Schedule <%= unit.screen_name %></div>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <hr/>
            <div class="row border-bottom">
                <div class="col-xs-12 quicksand-reg white-glow"><%= current_user.name %></div>
            </div>
            <div id="contact-display-<%= unit.id %>">
            <div class="row border-bottom">
                <div class="col-xs-8 quicksand-reg white-glow"><%= current_user.email %></div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light email1-visible-display">visible</div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light email1-active-display">active</div>
            </div>
            <div class="row border-bottom">
                <div class="col-xs-8 quicksand-reg white-glow"><%= current_user.email2 %></div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light email2-visible-display">visible</div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light email2-active-display">active</div>
            </div>
            <div class="row border-bottom">
                <div class="col-xs-8 quicksand-reg white-glow"><%= formatted_phone(current_user.phone) %></div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light phone1-visible-display">visible</div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light phone1-active-display">active</div>
            </div>
            <div class="row border-bottom">
                <div class="col-xs-8 quicksand-reg white-glow"><%= formatted_phone(current_user.phone2) %></div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light phone2-visible-display">visible</div>
                <div class="col-xs-2 quicksand-reg txt-right contact-light phone2-active-display">active</div>
            </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-12 blue-glow txt-centered quicksand-reg" id="contact-pref-notice-<%= unit.id %>">
                  <p>Contact preferences are set per user - not per job.</p><p>To update your prefs, click 'Edit Contact Preferences' in the Navigation Bar</p>
                  <p>or <span class="edit-user-link">here</span></p>
                </div>
            </div>
            <div class="container time-input">
            <div class='row'>
                <div class="col-xs-6 microgramma-bold spaced white-glow-dim">Unit Available</div>
                <div class="col-xs-6 quicksand-reg white-glow start_time txt-right uu-form-start-time">awaiting unit data</div>
            </div>
            <hr/>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-12 larger txt-centered microgramma-bold spaced white-glow-dim">Set Duration</div>
                <div class="col-xs-12 txt-centered"><%= f.input :duration, :autofocus => true, :input_html => {:min => '0', :max => '1440', :value => 5, :step => '5', :class => 'larger quicksand-reg white-glow'} %> </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-xs-12 txt-centered">
                    <div class="quicksand-reg white-glow formatted-duration slightly-larger txt-centered">0 hrs 0 min</div>
                    <div class="col-xs-12 quicksand-reg tiny spaced white-glow-dim txt-centered">selecting 0 will set a 5 minute minimum</div>
                </div>
            </div>
            <div class="spacer"></div>
            <hr/>
            <div class="row">
                <div class="col-xs-7 microgramma-bold white-glow-dim spaced">Projected End Time</div>
                <div class="col-xs-5 quicksand-reg white-glow formatted-end-time txt-right">set a duration</div>
            </div>
            </div>
            <div class="spacer"></div>
            <%= f.input :note, :input_html => { :class => 'quicksand-reg white-glow note-field', :cols => 48 } %>
            <%= f.hidden_field :user_id, :value => @user.id %>
            <%= f.hidden_field :start_time, :value => unit.time_available %>
            <div class="spacer"></div>
            <%= f.error :base %>
            <div class="row">
                <div class="col-xs-5">
                    <%= f.button :submit, 'Join Queue', :class => 'white-glow-dim spaced join-queue' %>
                </div>
                <div class="col-xs-7 white-glow-dim lowered spaced quicksand-reg">or press 'esc' to exit</div>
            </div>
        <% end %>
    </div>

<% end %>

<script>
    $(document).ready(function(){

        var $unit = $('#unit_<%= unit.id %>');
        var $unitBody = $('#unit_<%= unit.id %> .unit-body');
        $unit.draggable();
        $unit.offset({ top:<%= unit.pos_y %>, left:<%= unit.pos_x %> });

        var $form = $('#unit_user_form_<%= unit.id %>');
        $form.hide();


        // click 'new unituser' button on the unit, you get a modal form, which creates a new unituser in the queue
        $('#new-user-for-unit-<%= unit.id %>').on('click', function(){
            // detach form from machine unit and reattach it to non-blurring layer, which is z-index 2
            $('#non-blur-layer').append($form);
            // blur the container which holds all the machines ( z-index 0)
            $('#blur-layer').removeClass('blur-out').addClass('blur-in');
            // bring in the tinted overlay to prevent click-through
            $('#overlay').fadeIn();
            // bring in the form, at a higher z-index
            $($form).fadeIn().css({top:($(window).height()/2)-281, left:($(window).width()/2)-200, zIndex:3});
            // AJAX call to server to get unit's time_available field, or Time.now if the field is nil
            var unit_available, unit_available_string;
            $.ajax({
                url: "/units/<%= unit.id %>/report_status",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    unit_available = moment(data['time_available']);
                    unit_available_string = moment(data['time_available']).format('MMM D, hh:mm A');

                    $('.uu-form-start-time').html(unit_available_string);
                },
                error: function() { console.log("ajax error in call to report_status") }
            });

            // zero out the duration field
            $('.numeric:visible').val(0);
            $('.formatted-duration:visible').html('0 hrs 00 min');

            // zero out the notes field
            $('.note-field:visible').val("");

            // Set up a listener to convert duration (in minutes) into a convenient hrs and minutes string
            // With every input change on the unit_user form, the duration field updates, and the end_time field updates

            var min, dur;

            $('.numeric:visible').on('input', function() {
                // grab the minutes integer from the duration box
                min = $('.numeric:visible').val();
                // create a formatted hrs minutes duration string
                dur = parseInt(min/60) + ' hrs ' + (min % 60) + ' min' ;
                // insert that string into the field below
                $('.formatted-duration:visible').html(dur);
                var startMoment = moment(unit_available);
                // end time is calculated by adding minutes to the start time
                var endMoment = startMoment.add(min, 'minutes');
                // end time is inserted in the appropriate field
                $('.formatted-end-time:visible').html(endMoment.format('MMM D, hh:mm A'));
            });
        });


        // if user clicks lock icon, x-y coordinates are sent to the database

        $('#lock-pos-<%= unit.id %>').on('click', function() {
            var top = parseInt($unit.css('top'));
            var left = parseInt($unit.css('left'));
            var posString = left + 'x' + top
            $.ajax({
                type: "PUT",
                dataType: 'json',
                url: '/units/<%= unit.id %>',
                contentType: 'application/json',
                data: JSON.stringify({ 'position' : posString }),
                success: function(){
                    var $header = $unit.find($('.unit-header > div'));
                    $header.effect('highlight', { color: '#DAA400'}, 1500 );
                }
            });
        })


        // if user clicks the email and phone preference display, a window slides
        // down directing him/her to the correct place to edit their contact prefs

        $("#contact-display-<%= unit.id %>").on('click', function() {
            $('#contact-pref-notice-<%= unit.id %>').slideToggle();
        });


        // if user deactivates the unit, glowing red disabled styling is applied
        // and the 'state', 'user_disabler', and 'when_disabled' columns in the database are updated

        $('#toggle-unit-<%= unit.id %>').on('click', function() {
            $.get('/units/<%= unit.id %>', function (data) {
                var sendObj = {};
                if ( data['state'] == "active" ) {
                    sendObj = { 'state' : 'disabled', 'user_disabler' : '<%= current_user.name %>'};
                } else { // if data['state'] is 'disabled'
                    sendObj = { 'state' : 'active', 'user_disabler' : '' };
                }
                $.ajax({
                    type: "PUT",
                    dataType: 'json',
                    url: '/units/<%= unit.id %>',
                    contentType: 'application/json',
                    data: JSON.stringify(sendObj),
                    success: function(data) {
                        if (data['state'] == "active") {
//                            enableUnit(<%= unit.id %>);
                            enableUnit(data['id']);
                        } else if (data['state'] == "disabled") {
                            disableUnit(data['id'], data['user_disabler'], data['when_disabled']);
                        };
                    },
                    error: function() { console.log('ajax error receiving data from units#update'); }
                })
            });

        });

    });

    ///////////////////////////////////////// functions /////////////////////////////////////



    var disableUnit = function(id, disabler, when_disabled) {
        $('#unit_' + id + ' > .container').addClass('unit-body-disabled');
        $('#unit_' + id).find('.unit-header').addClass('unit-header-disabled');
        $('#toggle-unit-' + id + ' span').removeClass('fa-toggle-on').addClass('fa-toggle-off red-glow-no-bg');
        $('#image-' + id).addClass('dull-red-bg border-bottom-red');
        $('#image-' + id + ' img').addClass('faded-pic');
        $('#unit-notes-' + id + ', .spacer-' + id).addClass('border-bottom-red');
        $('#unit-notes-' + id + ' > div').addClass('red-glow');
        $('#refresh-unit-' + id + ' > span').addClass('red-glow');
        $('#unit-bottom-' + id).addClass('border-red');
        $('#unit-time-avail-' + id +
            ', #time-remaining-' + id +
            ', #unit-remaining-' + id +
            ', #new-user-for-unit-' + id +
            ', #refresh-unit-' + id).slideUp();
        $('#disable-msg-panel-' + id).slideDown();
        $('#disable-msg-' + id).text(disabler + ' - ' + moment(when_disabled).format('MMMM D, h:mm A'));
    };

    var enableUnit = function(id) {
        $('#unit_' + id + ' > .container').removeClass('unit-body-disabled');
        $('#unit_' + id).find('.unit-header').removeClass('unit-header-disabled');
        $('#toggle-unit-' + id + ' span').addClass('fa-toggle-on').removeClass('fa-toggle-off red-glow-no-bg');
        $('#image-' + id).removeClass('dull-red-bg border-bottom-red');
        $('#image-' + id + ' img').removeClass('faded-pic');
        $('#unit-notes-' + id + ', .spacer-' + id).removeClass('border-bottom-red');
        $('#unit-notes-' + id + ' > div').removeClass('red-glow');
        $('#refresh-unit-' + id + ' > span').removeClass('red-glow');
        $('#unit-bottom-' + id).removeClass('border-red');
        $('#unit-time-avail-' + id +
            ', #time-remaining-' + id +
            ', #unit-remaining-' + id +
            ', #new-user-for-unit-' + id +
            ', #refresh-unit-' + id).slideDown();
        $('#disable-msg-panel-' + id).slideUp();
        $('#disable-msg-' + id).text('');
    };


</script>

<!--//////////////////////////////// handlebars ///////////////////////////////////-->

<script id="uu-template" type="text/x-handlebars-template">
  <li class="unit_user" id="unit_user_{{ id }}">
    <div class="uu-wrapper">
      <div class="container unit-user">

        <div class="row border-bottom">
          <div class="col-xs-12 microgramma-bold larger name spaced">{{name}}<span class="tiny quicksand-reg">({{id}})</span></div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-xs-3"><img src="{{img}}" alt="Profile profile picture fix 2" class="img-rounded uu-avatar"/></div>
          <div class="col-xs-9">
            <div class="container">
              <div class="row"> <div class="col-xs-10 quicksand-reg email  white-glow smaller">{{email}}</div> </div>
              <div class="row"> <div class="col-xs-10 quicksand-reg email2 white-glow smaller">{{email2}}</div> </div>
              <div class="row"> <div class="col-xs-10 quicksand-reg phone  white-glow smaller">{{phone}}</div> </div>
              <div class="row"> <div class="col-xs-10 quicksand-reg phone2 white-glow smaller">{{phone2}}</div> </div>
            </div>
          </div>
        </div>

        <div class="spacer"></div>

        <div class="row">
          <div class="col-xs-3 microgramma white-glow lowered spaced beg">BEG</div>
          <div class="col-xs-9 quicksand-reg white-glow txt-centered beg" id="start_time_{{id}}">{{start_time_formatted}}</div>
        </div>

        <div class="row">
          <div class="col-xs-3 microgramma   white-glow lowered spaced dur" id="duration_{{id}}">DUR</div>
          <div class="col-xs-9 quicksand-reg txt-centered">
            <input type="text" class='uu-duration-edit white-glow' id="uu-dur-{{id}}" value=""/>
            <span id='submit-dur-{{id}}' class="submit-dur-button glyphicon glyphicon-unchecked"></span>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-3 microgramma white-glow lowered spaced end">END</div>
          <div class="col-xs-9 quicksand-reg white-glow txt-centered end" id="end_time_{{id}}">{{end_time_formatted}}</div>
          <!--<div class="col-xs-9 quicksand-reg white-glow txt-centered hidden-end-times" id="end-time-hidden-{{id}}">{{endHidden}}</div>-->
        </div>

        <div>
          <textarea cols="18" class='uu-note-edit quicksand-reg blue-glow' id="uu-note-{{id}}"></textarea>
          <span id='submit-note-{{id}}' class="submit-note-button glyphicon glyphicon-unchecked"></span>
        </div>

        <div class="txt-centered">
          {{#if_eq name current_user_name}}
              <hr class="unit-user-hr"/>
              <a class="gold-glow microgramma spaced uu-delete" data-confirm="Are you sure?" data-method="delete" data-remote="true" href="/units/{{unitId}}/unit_users/{{id}}" rel="nofollow">delete</a>
          {{/if_eq}}
        </div>

      </div>
    </div>
  </li>
</script>