
  <div class="col-xs-4 col-xs-offset-4">
    <div class="container microgramma-bold spaced" id="new-unit-form">
      <div class="row">
        <div class="col-xs-12 spaced3-6 txt-centered"><h2>New Unit</h2></div>
      </div>
      <% if current_user %>
          <%= simple_form_for Unit.new, defaults: {input_html: {class: 'quicksand-reg white-glow-dim', color: 'white'}} do |f| %>
              <div class="row">
                <div class="col-xs-12"><%= f.error_notification %></div>
              </div>
              <div class="row">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6"><%= f.input :name, label: false, input_html: {:style => 'width: 177px'} %></div>
              </div>
              <div class="row">
                <div class="col-xs-6">Screen Name</div>
                <div class="col-xs-6"><%= f.input :screen_name, label: false, input_html: {:style => 'width: 177px'} %></div>
              </div>
              <div class="spacer"></div>
              <div class="spacer"></div>
              <div class="row">
                <div class="col-xs-12 txt-centered">
                  <h4>Upload A Picture</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 microgramma spaced white-glow-dim"> <%= f.file_field :unit_pic %> </div>
              </div>
              <%= f.hidden_field :unit_pic_cache %>
              <div class="row">
                <div class="col-xs-12"> <%= f.error :base %> </div>
              </div>
              <div class="spacer"></div>
              <!-- TODO change the update-user classname below-->
              <div class="txt-centered spaced"><%= f.button :submit, :class => 'update-user spaced' %></div>
                <div class="spacer"></div>
          <% end %>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12 microgramma spaced larger">
    <%= link_to 'Back', units_path, class:'white-glow-dim' %>
  </div>
</div>

