<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--<meta http-equiv="refresh" content="30">-->
</head>
<body>

<ul class='nav nav-tabs'>
  <li><%#= link_to "Bloccit", root_path %></li>
  <li><%#= link_to "About", about_path %></li>
  <li><%#= link_to "Topics", topics_path %></li>
  <li><%#= link_to "Popular", posts_path %></li>
  <div id="clock" class="quicksand-light white-glow-dim larger spaced"></div>
  <div id="timezone" class="quicksand-light white-glow-dim lowered spaced"><%= current_user.timezone if current_user %></div>
  <div id="new-unit">
    <%= link_to("New Unit", new_unit_path, class: 'quicksand-light white-glow-dim spaced') %>
  </div>

  <div class="pull-right user-info">
    <% if current_user %>
        <div class="quicksand-light spaced white-glow-dim" id="name-display"><%= current_user.name %></div>
        <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
        <button id="<%= current_user.id %>" class="header-button quicksand-light spaced white-glow-dim">Edit Contact Information</button>
        <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-user"></span>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
        <% end %>
    <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>

</ul>

    <div id="blur-layer">
      <%= yield %>
    </div>
    <p class="notice white-glow-dim microgramma"><%= notice %></p>
    <p class="alert white-glow-dim microgramma"><%= alert %></p>
    <div id="overlay"></div>

    <div id="non-blur-layer">
      <div class="container microgramma-bold spaced" id="user-edit-form">
        <div class="row">
          <div class="col-xs-12 spaced3-6"> <h2>Contact Information</h2> </div>
        </div>
        <% if current_user %>
            <%= simple_form_for current_user, defaults: {input_html: {class: 'quicksand-reg white-glow-dim', color: 'white'}} do |f| %>
                <div class="row"><div class="col-xs-12"><%= f.error_notification %></div></div>
                <div class="row">
                  <div class="col-xs-6">Screen Name</div><div class="col-xs-6"><%= f.input :name, label: false, input_html: { :style => 'width: 177px'} %></div>
                </div>
                <div class="row">
                  <div class="col-xs-6">Email</div><div class="col-xs-6"> <%= f.input :email, label: false, input_html: { :style => 'width: 177px' } %> </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">Email - Alternate</div><div class="col-xs-6"> <%= f.input :email2, label: false, input_html: {id: 'email2', :style => 'width: 177px'} %> </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">Phone</div><div class="col-xs-6"> <%= f.input :phone, label: false, input_html: {id: 'phone', :style => 'width: 177px'} %> </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">Phone - Alternate</div><div class="col-xs-6"> <%= f.input :phone2, label: false, input_html: {id: 'phone2', :style => 'width: 177px'} %> </div>
                </div>
                <div class="row">
                  <!--<div class="col-xs-12"><select class="time-zone-selector spaced"></select></div>-->
                  <div class="col-xs-12"><%= f.input :timezone, :collection => ActiveSupport::TimeZone.all, :label_method => :to_s, :value_method => :name, :include_blank => false %></div>
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <% if current_user.avatar? %>
                    <div class="row">
                      <div class="col-xs-6 current-avatar-label"> Current Avatar </div>
                      <div class="col-xs-6"> <%= image_tag( current_user.avatar.profile.url ) %> </div>
                    </div>
                <% end %>
                <div class="row">
                  <div class="col-xs-6 microgramma spaced white-glow-dim"> <%= f.file_field :avatar %> </div>
                </div>
                    <%= f.hidden_field :avatar_cache %>
                <div class="row">
                  <div class="col-xs-12"> <%= f.error :base %> </div>
                </div>
                <div class="spacer"></div>
                <div class="row div col-xs-12 txt-centered spaced"><%= f.button :submit, :class => 'update-user spaced' %></div>
          <% end %>
        <% end %>
      </div>
    </div> <!-- where the modal form attaches -->


</body>
</html>


<script>

  $(document).ready(function() {

      $('#clock').jsclock(); //http://www.tcpweb.com.br/JS-Clock/

      var $user_form = $('#user-edit-form');
      $('#overlay').hide();
      $("#phone").intlTelInput();
      $("#phone2").intlTelInput();

//    the update user attributes form, triggered by "Edit Contact Information" in the upper right nav bar
      <% if current_user %>
          $('#<%= current_user.id %>').on('click', function(){
              if($('.signin').is(':visible')) {
                  console.log("not gonna show two forms at the same time, sir");
              } else {
                  // detach form from machine unit and reattach it to non-blurring layer, which is z-index 2
                  $('#non-blur-layer').append($user_form);
                  // blur the container which holds all the machines ( z-index 0)
                  $('#blur-layer').removeClass('blur-out');
                  $('#blur-layer').addClass('blur-in');
                  // bring in the tinted overlay to prevent click-through
                  $('#overlay').fadeIn();
                  // bring in the form, which SHOULD BE Z-INDEX 3
                  $user_form.fadeIn().css({top:($(window).height()/2)-107, left:($(window).width()/2)-200, zIndex:999});
              }
          });
      <% end %>

      // start all the countdowns on the units - showing time till unit is free
      startUnitCountdowns();
  });

  var startUnitCountdowns = function() {
      console.log('startUnitCountdowns is running');

      $.ajax({
          url: "/units/report_unit_statuses",
          type: "GET",
          dataType: "json",
          success: function(data) {
              unit_arr = data;
              for(var i=0; i<unit_arr.length; i++) {
                console.log(unit_arr[i]);
                var id = unit_arr[i]['id'];
                var endTime = unit_arr[i]['time_available'];
                var endTimeMoment = moment(endTime);

                if(endTime === null) {
                  $('#unit_' + id).find($('.time-remaining')).html("--:--:--");
                } else {
                  $('#unit_' + id).find($('.time-remaining')).countdown({ until: endTimeMoment.toDate(), compact: true });
                }
              }
          },
          error: function() { console.log("ajax error in startUnitCountdowns") }
      });



  }


</script>